header{
    padding: 5px;
    background-color: rgb(14, 15, 16);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/*
header>h1{
    display: inline-block;
}
header>nav{
    display: inline-block;
}
header>nav>ul>li{
    display: inline-block;
}
header>nav>ul{
    display: flex;
    li
    {
        list-style: none;
    }
}*/
.flex{
    display: flex;

}
.justify-content-between{
    display: flex;
}
li.no-decoration{
    list-style: none;
}
a.no-decoration{
    text-decoration: none;
}
.hover-yellow:hover{
    color: yellow;
}