header{
    height: 6vh;
    min-height: 30px;
    padding: 5px;
    background-color: rgb(14, 15, 16);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*
header>h1{
    display: inline-block;
}
header>nav{
    display: inline-block;
}
header>nav>ul>li{
    display: inline-block;
}
header>nav>ul{
    display: flex;
    li
    {
        list-style: none;
    }
}*/
img.h-100{
        height: 2em;
        display: flex;
}
.flex{
    display: flex;

}

.btn{
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 2px;
    padding-top : 2px;
    border-radius: 6px;
    overflow: hidden;
    border: none;
    box-shadow: 1px 1px 1px 1px rgb(186,186,186);
  
}

.justify-content-between{
    display: flex;
}
li.no-decoration{
    list-style: none;
}
a.no-decoration{
    text-decoration: none;
}
.hover-yellow:hover{
    color: yellow;
}

.align-items-center{

    align-items: center;

}

.navbar{
    margin-right: 30px;
}

nav ul{
    gap: 20px;
}
button.login{
      background-color: red;
    color: white;
    box-shadow: none;

}